[report]
omit = 
        *__init__*
        */exceptions/*
        */infrastructure/routes/*
        *monitoring/datadog.yml*
        *persistence/repositores/course_rating_repository_postgres.py*
        *persistence/repositores/course_certificate_repository_postgres.py*
        *application/controllers/course_certificate_controller.py*
        *application/controllers/course_rating_controller.py*
        *application/serializers/course_certificate_serializer.py*
        *application/serializers/course_rating_serializer.py*
        *application/services/certificate_generator/*
        *application/use_cases/course_certificate/*
        *application/use_cases/course_rating/*
        *deploy/heroku-entrypoint.sh*
        *domain/course_certificate_model.py*
        *domain/course_rating_model.py*
        *infrastructure/db/_pycache_/*
        *infrastructure/db/course_certificate_schema.py*
        *infrastructure/db/course_rating_schema.py*
        *infrastructure/db/database.py*
        *persistence/repositories/course_user_repository_postgres.py*
        *persistence/repositories/course_repository_postgres.py*
        *persistence/repositories/course_rating_repository_postgres.py*
        *persistence/repositories/course_module_repository_postgres.py*
        *persistence/repositories/course_media_repository_postgres.py*
        *persistence/repositories/course_certificate_repository_postgres.py*
        *persistence/repositories/course_category_repository_postgres.py*